/**{background: red;}*/ /*EVRENSEL SECİCİ ile sayfadaki bütün nesneleri seçmeye yarar*/


.renk{color: rgb(54, 92, 95);} /*CLASS SECİCİ*/
.italik{font-style: italic;}/*birden fazla class belirleyebiliyoruz*/


#paragraf{color: aqua; font-size: 20px;}/*ID SECİCİ*/


/*p{color: yellowgreen;}/*ETİKET SECİCİ(a div p)*/ /*bütün p'leri etkiler sayfadaki*/
/*a{color: yellowgreen;}*/

p,a{color: yellowgreen;} /*bir üstteki etiket seçiciyi COKLU SECİCİ altında da uygulayabiliriz*/

/*bir üstteki çoklu seciciyi class için de yapabiliriz .renk, .italik tarzı*/


.torun a{color: brown;} /*İC NESNE(TORUN) SECİCİLER*/
.torun p{color: cadetblue; font-size: 26px;}



.yanyana h2+p{color: darkblue;}/*YAN YANA SECİCİLER*/


.cocuk > p{color: darkgoldenrod; font-size: 29px; display: block; border: 1px solid red }/*COCUK SECİCİLER*/



.bitisik ul~p{color: royalblue;}/*BİTİSİK SECİCİLER, bir nesneden sonra gelen nesneleri secmek */ 