* {
  margin: 0;
  padding: 0;
  font-family: "pt_sansregular";
}

header.ust {
  background-image: url("../web/web1/images/overlay.png"),
    url("../web/web1/images/banner.jpg");
  position: relative;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

header h1 {
  position: relative;
  font-size: 18px;
  margin-left: 30px;
  top: 50px;
  color: white;
  font-weight: 100;
  text-transform: uppercase;
}

header strong {
  font-weight: 700;
}

header a {
  text-decoration: none;
  color: white;
  font-weight: 100;
  font-family: "Raleway", sans-serif;
}

header ul {
  list-style: none;
  position: relative;
  float: right;
  right: 20px;
  top: 0;
}

header ul li {
  display: block;
  float: left;
  padding: 30px;
}
header ul li a {
  font-size: 18px;
  font-family: "pt_sansregular";
  font-weight: 100;
  color: #d8d8d8;
  transition: 0.2s;
}
header ul li a:hover {
  color: white;
}
header #banner {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 40%;
}

#banner h2 {
  font-size: 40px;
  color: aliceblue;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
#banner p {
  text-transform: uppercase;
  color: #aaa;
  font-size: 22px;
  line-height: 40px;
  margin-bottom: 40px;
  font-weight: 100;
  letter-spacing: 2px;
}

#banner a {
  padding: 25px 35px;
  background: #f32853;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 5px;
}

#bolum2{
    padding: 50px 0;
    margin: 0 auto;
}
.kapsayıcı {
    width: 1000px;
    padding: 0 auto;
}
#bolum2 .kapsayıcı .sol{
    width: 400px;
    float: left;
    padding-left: 120px;
}
#bolum2 .sol h2{
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #484848;
    line-height: 60px;

}
#bolum2 .sol p{
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: #aaa;
    line-height: 40px;
    margin-top: 20px;
}

#bolum2 .sag{
    width: 400px;
    float: right;
    padding-right: 50px;
    margin-left: 30px;
}
#bolum2 .sag p{
    line-height: 30px;
    margin-bottom: 20px;
}