.container{
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    height: 300px;
    /* flex-direction: row; */
    flex-wrap: wrap;
    align-content: stretch;
    background-color: slategrey;

}

.box{
    background-color: rgb(210, 219, 219);
    width: 100px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    margin: 10px;
}