nav{
    margin: 0;
    padding: 0;
}
nav ul{
    list-style: none; /*ile etiket circle'ı kaldırdım*/
    padding: 0;
}

nav ul li{
    display: block; /*ile etketimi blok haline getirdim*/
    float: left; /*ile yan yana gelmelerini sağladım*/

} 

nav ul li a{
     display: block; /* ile a inline etiketine margin padding değeri girebilmeliyim*/
     margin: 0 15px;
     padding: 15px;
     background: rgb(171, 182, 192);
     color: rgb(221, 240, 186);
     text-decoration: none; /*ile yazıların altındaki çizgileri kaldırdım*/
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 16px;
     width:120px;
     text-align: center;

}
 nav ul li a:hover{ /*ile link'in üzerine fare ile geldiğimde olacak değişklikler*/
     background: rgb(90, 89, 89);
     color: rgb(255, 255, 255);
     transition-duration: 0.5s; /*ile fare ile etiketin üzerine geldiğimdeki geçiş sürecini kısalttım*/ 
 }

 nav ul li ul{
     display: none; /*ile dersler listesndeki pencereleri görünmez yaptım*/
     position: absolute;/*ile(hover ul'den sonra) dersler üzerine geldiğimde dersler alanı büyümesin, 
     bağımsız çalışsın*/
     width: 120px; /*ile(desler listesinin alt alta gelmesini sağladım displayleri sağlandıktan
     sonra, alanı daralttım ve alt alta geldi*/
 }
 nav ul li:hover ul{ /*ile dersler listesinin üzerine fare ile geldiğimde görünsün*/
     display: block;
 }
nav ul li ul li{
    display: block;
    width: 120px;
}
nav ul li ul li a{
    display: block;
    width: 120px;
    text-align: left; /*ile a etiketi için ortalanan yazılar burda etkilensin istemiyorum*/
}
.yumusat{border-radius: 10px;}


/*DİKEY MENÜ OLUSTURMA OLAYINDA nav ul li'DEKİ float left ÖZELLİĞİNİ SİLECEN, Bİ ALTTAK LİSTESİ
İCİN DE MARGNİN DEĞERİ VEREBLİRSİN*/